img {
    width: 100%;
    min-width:40px;
    min-height:40px;
    height: 400px;
    margin: 10px;
}

@media screen and (max-width:800px) {
    img {
            width: 100%;
            min-width: 40px;
            min-height: 80px;
            height: 400px;
            margin: 10px;
        }
}